.adult-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: 60px;
    row-gap: 160px;
    margin: 40px 0 100px 0;
}

.adult-item {
    position: relative;
    display: flex;
    flex-direction: column;
}

.adult-item-text {
    position: relative;
    padding: 20px;
    background-color: var(--light-blue-color);
    color: white;
}

.adult-item.reversed .adult-item-text {
    background-color: var(--pink-color);
}

.adult-item.reversed .adult-item-text::after {
    background-image: url('/static/img/wave_pink.svg');
}

.adult-item-text::after {
    position: absolute;
    content: '';
    display: block;
    top: 98%;
    left: 0;
    right: 0;
    width: 100%;
    height: 200%;
    background-image: url('/static/img/wave_blue.svg');
    background-position: top;
    background-repeat: no-repeat;
}

.adult-item-img {
    position: relative;
    max-width: 1000px;
    width: 100%;
}

.adult-item-img img {
    display: block;
    width: 100%;
}

.adults-signup {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pink-color);
    width: 200px;
    margin: 0 auto;
    margin-top: 160px;
    border-radius: var(--border-radius);
}

.adults-signup button {
    background-color: inherit !important;
    color: white !important;
    border: none;
}

@media (max-width: 1120px) {
    .adult-items {
        gap: 40px;
        row-gap: 100px;
    }
}

@media (max-width: 998px) {
    .adult-items {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 120px;
    }
}

@media (max-width: 776px) {
    .adult-items {
        column-gap: 20px;
        margin-top: 0;
    }
}

@media (max-width: 576px) {
    .adult-items {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 80px;
    }

    .adults-signup {
        margin-top: 124px;
    }
}