* {
    margin: 0;
    padding: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, text {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*-----------------------------------------------------*/
body {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    font-size: 20px;
    line-height: 1.3;
}

html.disable-scroll, body.disable-scroll {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent;
}

button {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

button:disabled {
    pointer-events: none;
    opacity: 0.6;
}

img {
    display: block;
    width: 100%;
}

.page {
    display: flex;
    justify-content: center;
    padding: 80px 0;
    transition: all 0.7s;
    transform: translateY(100px);
}

.page-visible {
    transform: none;
    opacity: 1;
    visibility: visible;
}

.page.intro {
    height: 100vh;
}

.page-caption {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-caption .caption-text {
    text-align: center;
    font-size: 34px;
    font-weight: 600;
    color: var(--pink-color);
}

.page-caption .caption-button {
    position: absolute;
    top: -50px;
    background-color: var(--light-blue-color);
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
    border-radius: var(--border-radius);
    transform: rotate(-8deg);
    cursor: pointer;
    transition: all 0.3s;
}

.page-caption .caption-button:hover {
    opacity: 0.8;
}

.page-caption .caption-button:active {
    background-color: var(--blue-color);
}

.page-caption .caption-button.right {
    transform: rotate(8deg);
}

.page-content {
    padding-top: 30px;
}

@media (max-width: 767px) {
    .page-content {
        padding-top: 30px;
    }
}

.container {
    max-width: 1840px;
    width: 100%;
    margin: 0 30px;
    position: relative;
}

.btn {
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: var(--border-radius);
    transition: all 0.3s;
    font-weight: 600;
}

.btn.pink {
    background-color: var(--pink-color);
    color: white;
}

.btn:hover {
    background-color: white;
    color: var(--pink-color);
}

.btn.active {
    background-color: white;
    color: var(--pink-color);
}

#overlay {
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: var(--pink-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

#overlay.hidden {
    opacity: 0;
    visibility: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--pink-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.lang {
    position: relative;
}

.lang a {
    text-transform: uppercase;
    color: var(--pink-color);
    font-weight: 600;
    transition: color 0.3s;
}

.lang a:hover {
    color: var(--light-blue-color);
}

.lang-current {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--pink-color);
    background-color: white;
    padding: 6px;
    border-radius: var(--border-radius);
}

.lang-items {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 12px;
    top: 100%;
    right: 0;
    background-color: white;
    padding: 6px 10px;
    margin-top: 10px;
    border-radius: var(--border-radius);
    transition: all 0.3s;
    -webkit-box-shadow: 0px 10px 32px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 32px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 32px -15px rgba(0, 0, 0, 0.75);
}

.lang:hover .lang-items {
    opacity: 1;
    visibility: visible;
}

.lang-items li a.active {
    pointer-events: none;
    color: var(--orange-color);
}

.bg {
    display: none;
}

@media (max-width: 998px) {
    .lang {
        margin: 30px 0;
    }

    .lang-items {
        top: 0;
        bottom: 0;
        right: 0;
        transform: translateX(110%);
        flex-direction: row;
        margin-top: 0;
    }

    .bg {
        display: block;
        opacity: 0;
        visibility: hidden;
        position: fixed;
        z-index: 998;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .bg.active {
        opacity: 1;
        visibility: visible;
    }
}