:root {
    --pink-color: #E3007B;
    --light-pink-color: #ff91cd;
    --blue-color: #390BF2;
    --light-blue-color: #7250fb;
    --extra-light-blue-color: rgb(168, 203, 255);
    --orange-color: #ff8562;
    --border-radius: 10px;
}