:root {
    --pink-color: rgb(227, 0, 123);
    --light-pink-color: #ff91cd;
    --blue-color: rgb(57, 11, 242);
    --light-blue-color: #7250fb;
    --extra-light-blue-color: rgb(168, 203, 255);
    --orange-color: #ff8562;
    --border-radius: 10px;
}